<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<h1>Eliminar de comidas</h1>
	<a th:href="@{/operacionesComida/inicio}">Regresar</a>
	<br/>
	
	<form th:action="@{/operacionesComida/eliminar}" method="POST" th:object="${comida}">
		<label for="id">Id:</label>
		<input type="text" name="id" th:field="*{id}"/>
		<br/>		
		<label for="nombre">Nombre:</label>
		<input type="text" name="nombre" th:field="*{nombre}"/>
		<br/>
		<label for="region">Region:</label>
		<input type="text" name="region" th:field="*{region}"/>
		<br/>
		<label for="precio">Precio:</label>
		<input type="text" name="precio" th:field="*{precio}"/>
		<br/>
		<input type="submit" name="eliminar" value="Eliminar"/>
	</form>
</body>
</html>